body {
	text-align: center;
	background-color: white;
	font-family:  'Playfair Display', serif;;
}
nav .navbar-nav li a{
	color: #141414 !important;
}
.navbar{
	background-color:  rgba(75, 199, 212, 0.5);
}
.middle
{
	margin-left: 30%;
}
.middle li{
	margin: 0 auto;
	padding-right: 25px;
}

.login form{
	display: block;
    text-align: center
}
 form input{
	 display: block;
	 margin: 0 auto;
	 margin-bottom: 10px;
	 padding: 5px;
	 
 }
 .login input[type="radio"] {
	 display: inline;
	 margin-right: 5px;
 }

 .login button {
	 display: block;
	 margin: 0 auto;
 }
.container-fluid {
	background-image: url(/pictures/blue-and-silver-stetoscope-40568.jpg);
	opacity: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	margin: 0 auto;
	padding-top: 70px;
	color: black;
	text-align: left;
}
.maintext{
	height: 100%;
	padding-top: 150px;
	text-decoration: bold;
	font-size: 30px;
	color: rgb(39, 38, 38);
	opacity: 100%;
	margin-left: 60px;
}
#intro {
	margin: 70px auto;
	text-align: center;
}

#tiles {
	background-color:rgb(236, 236, 236);
	color: rgba(37, 128, 139)
	
}

a {
	 color:	#141414;
}

#intro h1 {
	padding-bottom: 10px;	
}

.lineshadow{
	border: 1px solid  rgb(34, 128, 123);;
	width: 800px;
	margin: 0 auto;
	box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.8);
}

.shortline {
	border: 1px solid  rgb(34, 128, 123);;
	width: 600px;
	margin: 0 auto;
	box-shadow: 2px 3px 15px 0px rgba(0,0,0,0.8);
}
#appointment{
	background-color: rgba(75, 199, 212, 0.5);
}
#calendarr{
	background-color: rgb(243, 191, 196);
}
#medications{
	background-color: #85D2E9;
}
#findings{
	background-color: #E5C6C8;
}

a:hover {
	text-decoration: none;
	color: 	#141414;
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }
  
  .caption i{
	  font-size: 30px;
  }

  .thumbnail {
	border: 2px solid rgb(65, 136, 177);
	padding: 10%;
	margin: 5px;
	width: 100%;
	size: 100%;
  }
  .thumbnail .caption {
	border: 1px, solid grey;
	margin-bottom: 2px;
  }

 #info {
	 width: 500px;
	 margin: auto;
 }

 #calendar{
	 margin: auto;
	 padding: 10px;
	 background-color: rgb(235, 152, 161);
	 border: 2px solid black
 }

 select {
	width: 300px;
  }
  
  option {
	width: 300px;
  }
 #dosage{
	 display: inline
 }
#diagnose{
	width: 400px;
	height: 300px;
}

.profile_view {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}
.profile_view:hover {
    -webkit-box-shadow: 0 14px 12px 0 rgba(0,0,0,0.17),0 20px 40px 0 rgba(0,0,0,0.3);
    box-shadow: 0 14px 12px 0 rgba(0,0,0,0.17),0 20px 40px 0 rgba(0,0,0,0.3);    
}
.well.profile_view {
    padding: 10px 0 0;
}

.well.profile_view .divider {
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin-top: 5px;
}

.well.profile_view .ratings {
    margin-bottom: 0;
}

.pagination.pagination-split li {
    display: inline-block;
    margin-right: 3px;
}

.pagination.pagination-split li a {
    border-radius: 4px;
    color: #768399;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.well.profile_view {
    background: #fff;
}

.well.profile_view .bottom {
    margin-top: -20px;
    background: #F2F5F7;
    padding: 9px 0;
    border-top: 1px solid #E6E9ED;
}

.well.profile_view .left {
    margin-top: 20px;
}

.well.profile_view .left p {
    margin-bottom: 3px;
}

.well.profile_view .right {
    margin-top: 0px;
    padding: 10px;
}

.well.profile_view .img-circle {
    border: 1px solid #E6E9ED;
    padding: 2px;
}

.well.profile_view h2 {
    margin: 5px 0;
    font-size:14px;
    font-weight:bold;
}

.well.profile_view .ratings {
    text-align: left;
    font-size: 16px;
}

.well.profile_view .brief {
    margin: 0;
    font-weight: 300;
}

.profile_left {
    background: white;
}

#title {
	font-size: 100px;
	margin-left: 60px;
}

.profil {
	width: 320px;
	height: 180px;
	text-align: center;
	margin: 5px;
	padding-top: 60px;
	font-size: 30px;
}

.register {
	width: 400px;
	padding: 5px;
	margin: 0 auto;
	border: solid 2px black;
	background-color: rgba(75, 199, 212, 0.5);
}

.register input{
	margin-right: 10px;
}

.register input[type="time"]{
	margin-right: 50px;
}
 
.register label{
	margin-left: 10px;
}
.login {
	width: 400px;
	padding: 5px;
	margin: 0 auto;
	border: solid 2px black;
	background-color: rgba(75, 199, 212, 0.5);
}

.edit {
	width: 400px;
	padding: 5px;
	margin: 0 auto;
	border: solid 2px black;
	background-color: rgba(75, 199, 212, 0.5);
}

.edit input{
	margin-right: 40px;
}

.edit label{
	margin-left: 40px;
}

.minimenu {
	margin-left : 180px;
}

.minimenu a {
	margin: 5px;
}

.med  input{
	width: 300px;
}
td{
	border: 1px solid black;
	padding: 5px;
}

