<%- include("./partials/header")%>
<div class="login">
    <form action="/forgot" method="post">
    	<input type="text" name="email" placeholder="Email" required="required" />
        <button type="submit" class="btn btn-primary btn-large">Forgot password</button>
    </form>

</div
<%- include("./partials/footer")%>