<%- include("./partials/header")%>
<div class="container-fluid">
    <h1>Welcome</h1>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sint accusantium excepturi aliquam magnam
        laudantium animi ea, optio dolore! Ea dolorum ab obcaecati labore sint blanditiis, iure tenetur molestiae.
        Neque.</h3>
</div>
<div id="tiles">
<div class="row  justify-content-center text-center">
    <div class="col-6 col-sm-3">
        <a class="caption" href="">
            <i class="far fa-calendar-check"></i>
            <h4>Appointment</h4>
        </a>
    </div>
    <div class="col-6 col-sm-3">
        <i class="far fa-calendar-alt"></i>
        <h4>Calendar</h4>
    </div>

    <div class="col-6 col-sm-3">
        <a class="caption" href="">
            <i class="fas fa-capsules"></i>
            <h4>Medications</h4>
        </a>
    </div>
    <div class="col-6 col-sm-3">
        <a class="caption hvr-sweep-to-bottom" href="">
            <i class="fas fa-file-medical"></i>
            <h4>Findings</h4>
        </a>
    </div>
</div>
</div>
<div class="container" id="intro">
    <h1>What you can get?</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <img src="/pictures/hospital.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore ullam est doloribus quam impedit
                magnam, voluptatem voluptatibus aliquid esse mollitia nostrum, doloremque ad veniam recusandae repellat
                rem autem nam!</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 order-2 order-sm-1">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore ullam est doloribus quam impedit
                magnam, voluptatem voluptatibus aliquid esse mollitia nostrum, doloremque ad veniam recusandae repellat
                rem autem nam!</h2>
        </div>
        <div class="col-12 col-md-6 order-1 order-sm-2">
            <img src="/pictures/doctor.jpg" alt="" class="img-fluid">
        </div>
           </div>
    <div class="row justify-content-center order-2 order-sm-1">
        <div class="col-12 col-md-6">
            <img src="/pictures/patient.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 order-1 order-sm-2">
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore ullam est doloribus quam impedit
                magnam, voluptatem voluptatibus aliquid esse mollitia nostrum, doloremque ad veniam recusandae repellat
                rem autem nam!</h2>
        </div>
    </div>
</div>

<!-- <div id="login"class="col-4 rounded"><a class="nav-link" href="/calendar"><i class="fas fa-pills"></i></a></div>
        <div id="calendar" class="col-4 rounded"><a class="nav-link" href="/calendar"><i class="far fa-calendar-alt"></i></a></div>
        <div id="appointment" class="col-4 rounded"><a class="nav-link" href="/calendar"><i class="fas fa-hand-holding-medical"></i></a></div>-->

<%- include("./partials/footer")%>