<%- include("./partials/header")%>
<div class="container-fluid">
    <div class="container maintext">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sint accusantium excepturi aliquam magnam
        laudantium animi ea, optio dolore! Ea dolorum ab obcaecati labore sint blanditiis, iure tenetur molestiae.
        Neque.
    </div>
</div>

<div id="tiles">
    <div class="row justify-content-around text-center">

            <a class="col-6 col-sm-2 caption hvr-grow" id="appointment" href=""> 
                <i class="far fa-calendar-check"></i>
                <h5>Appointment</h5>
           
        </a>
    
            <a class="col-6 col-sm-2 caption hvr-grow" id="calendar" href="">
                <i class="far fa-calendar-alt"></i>
                <h5>Calendar</h5>
        
        </a>
            <a class="col-6 col-sm-2 caption hvr-grow" id="medications" href="">
                <i class="fas fa-capsules"></i>
                <h5>Medications</h5>
        </a>
            <a class="col-6 col-sm-2 caption hvr-grow" id="findings" href="">
                <i class="fas fa-file-medical"></i>
                <h5>Findings</h5>
        
        </a>
    </div>
</div>
<div class="container" id="intro">
    <h1>What you can get?</h1>
    <div class="lineshadow"></div>
    <div class="row align-items-center content">
        <div class="col-12 mt-5">
            <div class="row justify-content-center ">
                <div class="col-12 col-md-5">
                    <img src="/pictures/patient.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 m-auto">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore ullam est
                        doloribus quam
                        impedit
                        magnam, voluptatem voluptatibus aliquid esse mollitia nostrum, doloremque ad veniam recusandae
                        repellat
                        rem autem nam!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-12 mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 order-2 order-md-1 m-auto">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore ullam est
                        doloribus quam
                        impedit
                        magnam, voluptatem voluptatibus aliquid esse mollitia nostrum, doloremque ad veniam recusandae
                        repellat
                        rem autem nam!</p>
                </div>
                <div class="col-12 col-md-5 order-1 order-md-2">
                    <img src="/pictures/doctor.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-12 mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-5">
                    <img src="/pictures/hospital.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 m-auto">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore ullam est
                        doloribus quam
                        impedit
                        magnam, voluptatem voluptatibus aliquid esse mollitia nostrum, doloremque ad veniam recusandae
                        repellat
                        rem autem nam!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div id="login"class="col-4 rounded"><a class="nav-link" href="/calendar"><i class="fas fa-pills"></i></a></div>
        <div id="calendar" class="col-4 rounded"><a class="nav-link" href="/calendar"><i class="far fa-calendar-alt"></i></a></div>
        <div id="appointment" class="col-4 rounded"><a class="nav-link" href="/calendar"><i class="fas fa-hand-holding-medical"></i></a></div>-->

<%- include("./partials/footer")%>