<%- include("./partials/header")%>
<%if (message) {%>
<h4 class="alert alert-danger"><%=message%></h4>
<%}%>
<div class="register">
    <form action="/registerpat" method="post">
        <input type="text" name="name" placeholder="Name" required="required" />
        <input type="text" name="surname" placeholder="Surname" required="required" />
        <input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <input type="password" name="password2" placeholder="Repeat password" required="required" />
        <button type="submit" class="btn btn-primary btn-large">Let me in.</button>
    </form>
</div>
<%- include("./partials/footer")%>