<%- include("./partials/header")%>
<div class="login">
    <a class="btn btn-primary" href="/doctors/doctor/register"><i class="fas fa-user-md"></i> As a doctor</a>
    <a class="btn btn-primary" href="/patients/patient/register"><i class="fas fa-user"></i> As a patient</a>
    <a class="btn btn-primary" href="/clinics/clinic/register"><i class="fas fa-user"></i> As a clinic</a>
</div>
<%- include("./partials/footer")%>