<%- include("./partials/header")%>
<div class="login">
    <a class="btn btn-primary" href="/registerdoc"><i class="fas fa-user-md"></i> As a doctor</a>
    <a class="btn btn-primary" href="/registerpat"><i class="fas fa-user"></i> As a patient</a>
    <a class="btn btn-primary" href="/registercln"><i class="fas fa-user"></i> As a clinic</a>
</div>
<%- include("./partials/footer")%>