<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800&display=swap" rel="stylesheet">
    <title>DocCal</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/home">DocCal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav middle">
            <li class="nav-item">
              <a class="nav-link hvr-grow" href="/home">Home  <span class="sr-only">(current)</span></a>
            </li>
            <%if(type === "doctors"){%>
            <li class="nav-item">
              <a class="nav-link hvr-grow" href="/doctor">Profile  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link hvr-grow" href="/doctor/clinics">My Clinics  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link hvr-grow" href="/doctor/patients">My Patients  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link hvr-grow" href="/doctor/calendar">Calendar  <span class="sr-only">(current)</span></a>
            </li>
            <% } else if(type === "patient"){%>
              <li class="nav-item">
                <a class="nav-link hvr-grow" href="/patient">Profil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-grow" href="/patient/appointments">Appointments  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-grow" href="/patient/medications">Medications  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-grow" href="/patient/fidnings">Findings <span class="sr-only">(current)</span></a>
              </li>
              <% } else if(type === "clinic"){%>
                <li class="nav-item">
                  <a class="nav-link hvr-grow" href="/clinic/:id">Profile  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-grow" href="/clinic/:id/doctor"> My Doctors  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-grow" href="/clinic/:id/patient">My Patients  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link hvr-grow" href="/clinic/:id/calendar">My Calendar <span class="sr-only">(current)</span></a>
                </li>
              <%} else {%>
              <li class="nav-item">
                <a class="nav-link hvr-grow" href="/clinics">Clinics <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-grow" href="/doctors">Doctors  <span class="sr-only">(current)</span></a>
              </li>
                <%}%>
          </ul>
          <ul class="navbar-nav ml-auto">
            <%if(!currentUserID){%>
            <li class="nav-item">
                <a class="nav-link hvr-grow" href="/login"><i class="fas fa-unlock-alt"></i> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link hvr-grow" href="/signup"><i class="fas fa-user"></i> Sign Up</a>
              </li>
              <% } else{%>
              <li class=nav-item>
                <a class="nav-link hvr-grow" href="/logout"><i class="fas fa-user"></i> Logout</a>
              </li>
              <%}%>
          </ul>
        </div>
      </nav>
      <div class="container">
        <% if(error && error.length > 0 ){%>
            <div class="alert alert-danger" role="alert">
                <h1><%=error%></h1>
            </div>
        <%}%>
        <% if(success && success.length >0){%>
            <div class="alert alert-success" role="alert">
                <h1><%=success%></h1>
            </div>
        <%}%>
    </div>

