<%- include("../partials/header")%>
<div class="container">
    <h1>My profile</h1>
    <div class="row">
        <div class="col-4">
            <nav class="nav flex-column">
                <a class="nav-link active" href="/patients/patient">Personal Settings</a>
                <a class="nav-link" href="/patients/patient/password">Change Password</a>
                <a class="nav-link" href="/patients/patient/delete">Delete Account</a>
            </nav>
        </div>
        <div class="col-6">
            <h1>Are you sure you want to delete your account?
                Deleting your account is permanent and will remove all content. Are you sure you want to delete your account?</h1>
            <form action="/patients/patient/<%=patient.id%>/delete" method="POST">
                <button type="submit" class="btn btn-primary btn-large">Delete Account</button>
            </form>
        </div>
    </div>
</div>


<%- include("../partials/footer")%>